# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.json

# Selenium / Chrome logic
chrome_data/
*.log


# Project specific
output_jobs.csv
linkedin_jobs.csv
quotes.csv
scratchpad.txt
scratch/


# IDEs
.vscode/
.idea/
*.swp
